@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --radius: 0.5rem;
   


}

*{
  @apply border-gray-5
}

.font-display {
  font-feature-settings: "opsz" 32;
}


.prose pre code {
  @apply text-gray-1;
} 
body{
  
  @apply bg-gray-1 text-gray-12 ; 
}

 