@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
   
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --radius: 0.5rem;
 
}

 .react-tweet-theme {
  --tweet-container-margin: 0rem 0 !important;
  
  --tweet-body-font-size: 1rem !important;
}

 
*{
  @apply border-gray-5;
}

.font-display {
  font-variation-settings: "opsz" 32;
}


.prose pre code {
  @apply text-gray-12;
} 

body{
  
  @apply dark:bg-black text-gray-12  ; 
}

  

.my-masonry-grid > div {
  @apply space-y-6;
} 

[data-radix-scroll-area-viewport] > div {
  @apply !block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spin { 
  animation: spin 1s linear infinite;
}